/* AUTORES: José Manuel Gómez Ruiz e Irene Mendoza Mederos*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;  /* Elementos en columna */
    align-items: center;
    margin: 20px;
    background-color: #060606;
}

h1 {
    color: #f3f3f3;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

#game-canvas {
    border: 1px solid #000; /* Borde negro */
    background-color: #fff; /* Fondo blanco del tablero */
    /* El tamaño final se ajustará en JS para ser NxN */
    box-shadow: 0 0 20px #00ffcc; /*Poner sombra turquesa al borde del tablero*/
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #57f3d4;
    color: #121212;
    border: none; /*Sin borde*/
    cursor: pointer;
    border-radius: 5px; /*Para poner bordes del botón redondeados*/
    transition: transform 0.2s, background-color 0.2s; /*Para crear animación*/
}

button:hover { /* Cambia el color y agranda el botón */
      transform: scale(1.1); /* Se agranda al pasar el ratón por encima */
      background-color: #ce1891;
      color: #ffffff;
    }

button:disabled {
    background-color: #ccc; /* Muestra los botones desactivados en gris*/
    cursor: not-allowed; /*Deja el cursor bloqueado*/

}

footer { /* Estilo del pie de página */
    margin-top: 30px;
    font-size: 0.8em;
    color: #d7d7d7;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; 
}


#cell-info {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%); /* Centra el texto */
    white-space: nowrap; /* Evita saltos de línea */
    padding: 5px; 
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#step-info {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px #ce1891; /* Sombra rosa fuerte para dar efecto de brillo al título*/

}

.controls {
    margin-bottom: 20px;
    min-height: 40px; 
}
.patterns {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}