/* AUTORES: José Manuel Gómez Ruiz e Irene Mendoza Mederos*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

#game-canvas {
    border: 1px solid #000;
    background-color: #fff;
    /* El tamaño final se ajustará en JS para ser NxN */
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    margin-top: 30px;
    font-size: 0.8em;
    color: #666;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; 
}


#cell-info {
    position: absolute;
    
  
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%); /* Centra el texto */
    
    
    white-space: nowrap; 
    padding: 5px; 
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.controls {
    margin-bottom: 20px;
    min-height: 40px; 
}
.patterns {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}